/* General Body Style */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header */
.navbar-brand {
    font-weight: bold;
}

.navbar-brand .fa-lungs-virus {
    color: #0d6efd; /* Blue icon */
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../original_slamet_Normal-1.png") no-repeat center center;
    background-size: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* CTA Button */
.cta-button {
    background-color: #198754; /* Green */
    border: none;
    padding: 15px 30px;
    font-size: 1.25rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0d6efd; /* Blue */
}

/* Statistics Section */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Slider */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    padding: 1rem;
}

.carousel-item img {
    height: 400px; /* Or whatever fixed height you want for the carousel */
    object-fit: cover;
    width: 100%;
}

/* Navigation Link Hover Color */
.navbar .navbar-nav .nav-link:hover {
    color: #0d6efd !important; /* Bootstrap Blue */
}

/* Active Navigation Link Style */
.navbar-nav .nav-link.active {
    color: #0d6efd !important; /* Bootstrap Blue */
}
